# IDE settings
.idea
*.iml

# Our Python environment
env34
env35

# Compiled Python
*.egg-info
*.pyc

# Any secrets, such as passwords or keys
/secrets

# Localized test files
pyramid_config.combined.ini
pyramid_config.combined.localized.ini
tests/test-compose.localized.yml
